<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobile.noise">

    <uses-sdk android:minSdkVersion="9" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".mobile.noise.sensorservices.AndroidCameraMotionService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".mobile.noise.sensorservices.AccelerometerEventService" />
        <service android:name=".mobile.noise.sensorservices.LightEventService" />
        <service android:name=".mobile.noise.sensorservices.ProximityEventService" />
        <service android:name=".mobile.noise.sensorservices.NoiseEventService" />

        <activity
            android:name=".MainActivity"
            android:label="SensorDyne">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".FloorActivity" />
        <activity
            android:name=".InfoActivity"
            android:label="About SensorDyne" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings" />
        <activity android:name=".Notification" />
        <activity android:name=".NotificationPage" />
        <activity
            android:name=".BestLocationActivity"
            android:label="Best Study Location" />
        <activity
            android:name=".LoadingBestLocationActivity"
            android:label="Loading"/>
        <activity
            android:name=".LocationResultActivity"
            android:label="Result Details"/>
    </application>

</manifest>